.modal {
    &__overlay {
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: .6);
        backdrop-filter: blur(2px);
        padding-top: 40px;
    }
    &__body {
        width: max-content;
        height: max-content;
        border-radius: 8px;
        background-color: white;
        margin: 0 auto;
        padding: 24px;
        position: relative;
    }
    &__header {
        
    }
    &__title {
        font-size: 24px;
        line-height: 30px;
    }
    &__winner {
        font-size: 14px;
        line-height: 17px;
        margin: 15px 0 5px 0;
        span{
            color: #0D9488;
        }
    }
    &__playersContainer {
        div{
            box-shadow: none;
        }
    }
    &__footer {
        display: flex;
        justify-content: end;
        gap: 18px;
        margin-top: 40px;
    }

    &__close{
        position: absolute;
        top: 0;
        right: -36px;
        width: 32px;
        height: 32px;
        background-color: rgba(#FFFFFF, .1);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}
